/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
 

/* Styling begins here */

.container {
    width: 100%;
    margin: 0 auto;
}


/* Start of Header */
  header {
	  display: flex;
	  justify-content: space-evenly;
	  padding-top: 20px;

  }

	header nav {
		display: flex;
		justify-content: space-evenly;
		align-items: space-evenly;
	  }
		
    header nav a {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			font-size: 18px;
			color: gray;
			width: 100px;
		}
	  
	.logo {
		display: flex;
		flex-direction: flex-end;
		justify-content: flex-end;
	}
  
/*Start of tagline for website */

	.tagline {
		display: flex;
		flex-direction: column;
	}

	.services-header-img{
		padding-top: 20px;
		width: 100%;
	}

	.cta-text {
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cta-text h1 {
		font-size: 30px;
	}

	.cta-text p {
		letter-spacing: 1px; 

	}

	/* Start of services main content */

	.page-content {
		border-top: 2px solid black;
		padding-top: 20px;
	}

	.content-box {
		border: 2px solid black;
		width: 49%;
		height: 30%;
		background-color: #F8F8FF;
		margin: 2px;
	}

	.top-page-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin: 20px;
		padding: 20px;
	}

	.middle-page-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin: 20px;
		padding: 20px;
	}

	.bottom-page-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin: 20px;
		padding: 20px;
	}

	button {
		background-color: white;
  		border: 1px solid black;
  		color: black;;
		padding: 20px;
		margin: 20px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
		font-size: 16px;
		  
	}

	/*  Facts and footer */

	.facts {
		border-top: 2px solid black;
		padding: 20px;
		display: flex;
		justify-content: space-evenly;
		
	}

	.service-facts {
		display: flex;
		
		
	}

	.services-info-img {
		display: flex;
		flex-direction: row-end;
	}

	.fun-facts {
		width: 45%;
		letter-spacing: 1px;
		display: flex;
		flex-direction: column;
	}

	ul {
		padding-top: 20px;
		margin-left: 20px;
		list-style-type: square;
	}

	
	

	footer {
		text-align: center;
	}